
# 忽略venv文件夹
venv/

# 忽略tmp文件夹及其所有内容
tmp/

# 忽略所有的__pycache__文件夹
**/__pycache__/

# Django stuff:
logs/*.log
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

#config
config/


.idea
.vscode